/* .card-dashboard {
    background: #fff;
    border: 1px solid var(--cinza-ufpb-borda);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

.card-header {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--cinza-ufpb-borda);
    padding-bottom: 8px;
}

.card-header .subinfo {
    font-weight: normal;
    display: block;
    font-size: 0.85rem;
    margin-top: 4px;
    color: #555;
}

.chart-container {
    width: 100%;
    height: 380px;
} */
